[Unit]
Description=Run 00403A/00981A/00988A/0050/00830/00878/00891/00918/009805/009820 ETF Fetch Daily at 18:30 Taiwan Time

[Timer]
# 18:30 Taiwan time = 10:30 UTC
OnCalendar=*-*-* 10:30:00 UTC
Persistent=true
RandomizedDelaySec=30
Unit=stock-fetch-1830-tw.service

[Install]
WantedBy=timers.target
