[Unit]
Description=00981A/00988A/00997A/0050/00830/00878/009805/009820 ETF 17:30 Taiwan Fetch and Notify Service
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=ubuntu
WorkingDirectory=/home/ubuntu/STOCK
ExecStart=/usr/bin/bash /home/ubuntu/STOCK/scripts/update_and_notify.sh 00981A 00988A 00997A 0050 00830 00878 009805 009820
StandardOutput=append:/home/ubuntu/STOCK/daily_fetch_1800_tw.log
StandardError=append:/home/ubuntu/STOCK/daily_fetch_1800_tw.log

[Install]
WantedBy=multi-user.target
